numpy==1.26.4
pandas
pygame
colorlog
opencv-python
smbus2
pygame
platformdirs
pydub
fastapi[standard]
starlette
uvicorn[standard]
python-multipart
ultralytics
gpiozero
RPi.GPIO
spidev
pyusb
pyudev
watchdog
python-dotenv
appdirs>=1.4.0
requests>=2.6.0
web_cache>=1.1.0