numpy==1.26.4
git+https://github.com/KarimAziev/robot-hat.git@main#egg=robot_hat
git+https://github.com/KarimAziev/google_speech_pyplay.git@main#egg=google_speech_pyplay
pandas
pygame
colorlog
opencv-python
platformdirs
pydub
fastapi[standard]
starlette
uvicorn[standard]
python-multipart
ultralytics
pyusb
pyudev
watchdog
python-dotenv
sounddevice
dbus-python