numpy==1.26.4
robot-hat[spi]>=3.0.0,<4
pandas
colorlog
platformdirs>=4.3.6,<5.0.0
pydantic~=2.12.5
pydantic-settings~=2.12.0
pydub~=0.25.1
miniaudio>=1.61,<2.0.0
g-speech~=0.1.0
fastapi[standard]~=0.128.0
starlette~=0.50.0
uvicorn[standard]~=0.40.0
python-multipart
ultralytics-opencv-headless~=8.4.101
opencv-python-headless~=4.11.0.86
pyusb~=1.3.1
pyudev~=0.24.4
watchdog~=6.0.0
python-dotenv~=1.2.1
sounddevice~=0.5.5
dbus-python; platform_system == "Linux"
portalocker
tqdm
v4l2-python3
PyGObject==3.50.0; platform_system != "Darwin"
PyGObject-stubs~=2.16.0
rapidfuzz~=3.14.3
httpx~=0.28.1
pyobjc-framework-AVFoundation==12.1; platform_system == "Darwin"
pyobjc-framework-CoreMedia==12.1; platform_system == "Darwin"
