:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
  --p-slider-handle-width: 5px;
  --p-slider-handle-height: 5px;
  --c-black: #181818;
  --app-height: 100vh;
  --c-black-soft: #222222;
  --c-black-mute: #282828;
  --color-red: #ff0040;
}

:root {
  --p-inputnumber-transition-duration: var(--p-transition-duration);
  --p-inputnumber-button-width: 2.5rem;
  --p-inputnumber-button-border-radius: var(--p-form-field-border-radius);
  --p-inputnumber-button-vertical-padding: var(--p-form-field-padding-y);
  --p-inputnumber-button-background: transparent;
  --p-inputnumber-button-hover-background: var(--p-surface-100);
  --p-inputnumber-button-active-background: var(--p-surface-200);
  --p-inputnumber-button-border-color: var(--p-form-field-border-color);
  --p-inputnumber-button-hover-border-color: var(--p-form-field-border-color);
  --p-inputnumber-button-active-border-color: var(--p-form-field-border-color);
  --p-inputnumber-button-color: var(--p-surface-400);
  --p-inputnumber-button-hover-color: var(--p-surface-500);
  --p-inputnumber-button-active-color: var(--p-surface-600);
}
@media (prefers-color-scheme: dark) {
  :root {
    --p-inputnumber-button-background: transparent;
    --p-inputnumber-button-hover-background: var(--p-surface-800);
    --p-inputnumber-button-active-background: var(--p-surface-700);
    --p-inputnumber-button-border-color: var(--p-form-field-border-color);
    --p-inputnumber-button-hover-border-color: var(--p-form-field-border-color);
    --p-inputnumber-button-active-border-color: var(
      --p-form-field-border-color
    );
    --p-inputnumber-button-color: var(--p-surface-400);
    --p-inputnumber-button-hover-color: var(--p-surface-300);
    --p-inputnumber-button-active-color: var(--p-surface-200);
  }
}

@font-face {
  font-family: "TT-Octosquares-Regular";
  src: url("@/assets/font/tt-octosquares-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --robo-color-primary-4: #00ff99;
  --robo-1-color-primary: #2effa9;
  --robo-2-color-primary: #00ff80;
  --robo-color-primary: #00ffbf;
  --robo-color-secondary: #2effa9;
  --color-warn: #ffcc00;
  --color-error: var(--color-red);
  --color-text: var(--robo-color-primary);
  --font-family-tt-octosquares-regular: "TT-Octosquares-Regular";
  --font-family: var(--font-family-tt-octosquares-regular);
  --font-family-settings: "Inter", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --canvas-font: 24px TT-Octosquares-Regular;
}

:root {
  --color-background: #003366;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  touch-action: none;
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(var(--app-height));
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

html {
  font-size: 10px;
}
@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.jc-between {
  justify-content: space-between;
}
.jc-end {
  justify-content: right;
}
.jc-center {
  justify-content: center;
}
.jc-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}
.opacity-hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in;
  &:hover {
    opacity: 1;
  }
}
@for $i from 1 through 30 {
  $value: $i * 10;

  .max-w-#{$value} {
    max-width: #{$value}px;
  }
}

@for $i from 1 through 16 {
  .gap-#{$i} {
    gap: #{$i}px;
  }
}
.w-20 {
  width: 20px;
}
.w-60 {
  width: 60px;
}
.w-90 {
  width: 90px;
}
.w-100 {
  width: 150px;
}
.w-120 {
  width: 150px;
}
.w-150 {
  width: 150px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-350 {
  width: 350px;
}
.w-400 {
  width: 400px;
}
.w-450 {
  width: 450px;
}
.w-460 {
  width: 460px;
}
.w-600 {
  width: 600px;
}
