:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;
  --p-slider-handle-width: 5px;
  --p-slider-handle-height: 5px;
  --c-black: #181818;
  --app-height: 80vh;
  --c-black-soft: #222222;
  --c-black-mute: #282828;
  --color-red: #ff0040;
}

@font-face {
  font-family: "TT-Octosquares-Regular";
  src: url("@/assets/font/tt-octosquares-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --robo-color-primary-4: #00ff99;
  --robo-1-color-primary: #2effa9;
  --robo-2-color-primary: #00ff80;
  --robo-color-primary: #00ffbf;
  --robo-color-secondary: #2effa9;
  --color-warn: #ffcc00;
  --color-error: var(--color-red);
  --color-text: var(--robo-color-primary);
  --font-family-tt-octosquares-regular: "TT-Octosquares-Regular";
  --font-family: var(--font-family-tt-octosquares-regular);
  --font-family-settings: "Inter", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
}

:root {
  --color-background: #003366;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(var(--app-height));
  @media (max-width: 480px) {
    height: calc(70vh);
  }
}

body {
  width: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 10px;
}
@media (min-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
