:root {
  --app-height: 100vh;
}

:root {
  --p-slider-handle-width: 5px;
  --p-slider-handle-height: 5px;
}

@font-face {
  font-family: "TT-Octosquares-Regular";
  src: url("@/assets/font/tt-octosquares-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --robo-color-primary: var(--p-primary-color);
  --color-red: var(--p-red-700);
  --color-warn: var(--p-amber-400);
  --color-error: var(--color-red);
  --color-text: var(--robo-color-primary);
  --font-family-tt-octosquares-regular: "TT-Octosquares-Regular";
  --font-family: var(--font-family-tt-octosquares-regular);
  --font-family-settings: "Inter", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --canvas-font: 24px TT-Octosquares-Regular;
  --color-background: var(--p-surface-900);
}
.p-dark {
  --color-background: var(--p-surface-950);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  touch-action: none;
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: calc(var(--app-height));
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

html {
  font-size: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
ul::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

li {
  list-style: none;
  padding: 0;
}

* {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.opacity-hover {
  opacity: 0.6;
  transition: opacity 0.4s ease;
  &:hover {
    opacity: 1;
  }
}
.color-primary {
  color: var(--color-text);
}

.color-warning {
  color: var(--color-warn);
}

.color-error {
  color: var(--color-error);
}

.bold {
  font-weight: bold;
}
input {
  width: 80px;
  height: 30px;

  @media (min-width: 576px) {
    width: 120px;
  }

  @media (min-width: 1200px) {
    height: 40px;
    width: 140px;
  }
}

.p-inputtext:not(.p-select-filter),
.p-treeselect,
.p-select,
.p-cascadeselect,
.p-inputnumber,
.p-cascadeselect,
.tree-btn {
  display: flex;
  align-items: center;
  max-width: 140px;
  height: 30px;

  @media (min-width: 576px) {
    max-width: 140px;
  }
  @media (min-width: 768px) {
    max-width: 190px;
  }

  @media (min-width: 992px) {
    max-width: 210px;
  }
  @media (min-width: 1200px) {
    height: 40px;
    max-width: 220px;
  }

  @media (min-width: 1440px) {
    max-width: 230px;
  }

  @media (min-width: 1600px) {
    max-width: 240px;
  }
}

.select-root {
  align-items: center;
  max-width: 140px;
  height: 30px;

  @media (min-width: 576px) {
    max-width: 140px;
  }
  @media (min-width: 768px) {
    max-width: 190px;
  }

  @media (min-width: 992px) {
    max-width: 210px;
  }
  @media (min-width: 1200px) {
    height: 40px;
    max-width: 220px;
  }

  @media (min-width: 1440px) {
    max-width: 230px;
  }

  @media (min-width: 1600px) {
    max-width: 240px;
  }
}
