.field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  .input-number,
  textarea,
  input {
    font-size: 10px;
  }
  @media (min-width: 640px) {
    .input-number,
    textarea,
    input {
      font-size: 1rem;
    }
  }
}
