.p-field {
  display: flex;
  margin: 0.5rem 0;

  &.col {
    flex-direction: column;
  }
  &.col-reverse {
    flex-direction: column-reverse;
  }

  &.row,
  &.row-reverse {
    align-items: center;
    gap: 10px;
  }
  &.row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
