#drawer {
  position: fixed;
  width: 400px;
  left: -420px;
  top: -0px;
  height: 100%;
  background-color: #1a1a1a;
  cursor: pointer;
  overflow-y: scroll;
  border: 2px solid black;
  color: lime;
}

#drawer.open {
  left: 0;
}

.toggle-side {
  position: fixed;
  bottom: 0;
  top: -0px;
  background-color: #1a1a1a;
  opacity: 0.9;
}
.toggle-side:hover {
  opacity: 1;
}

#drawer .toggle {
  border-radius: 0px;
  padding: 2rem;
  cursor: pointer;
  background-color: #646cf2;
  color: black;
  font-weight: bold;
  width: 100%;
  border-color: #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

#drawer .toggle:hover {
  opacity: 0.5;
}
ul.logs {
  padding: 1rem;
  list-style: none;
}

#drawer.open ul.logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ul.logs::-webkit-scrollbar {
  display: none;
}

.ul.logs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
